/* key stuff */

.container {
    width: 100%;
    float: left;
    border: 1px solid white;
}

.your-centered-div {
    max-width: 560px; /* you have to have a size or this method doesn't work */
    max-height: 315px;
    margin-right: auto;
    margin-left: auto;
}

.your-centered-div2 {
    max-width: 560px; /* you have to have a size or this method doesn't work */
    max-height: 315px;
    margin-right: auto;
    margin-left: auto;
}



















/* this stuff is probably already in your styles */


* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    margin: 0;
    border: 2px solid white;
}





.your-centered-div img {
    display: block;
    width: 100%;
    height: auto;
}
body, html {
  cursor: url(http://worldpeaceworldwide.github.io/middlefinger2.png), pointer;
  height: 5%;
}

a:hover { 
    cursor: url(http://worldpeaceworldwide.github.io/middlefinger2.png), pointer;
  height: 5%;
}

