/**
 * centering with absolute position
 */

div {
	width: 10px;
	height: 10px;
	background: ;

	position: absolute;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;
	
	margin: auto;
}


body, html {
  cursor: url(http://bringerp.free.fr/Files/RotMG/cursor.gif), pointer;
  height: 100%;
}
