.lightbox { 
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: lightblue;
    text-align: center;
        cursor: url(http://placehold.it/50x30) , auto

}

.tc-content {
    position: relative;
    top: calc(50% - 1em);
}

